@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");

.post_sec {
  // margin-top: 180px;
  margin-bottom: 70px;

  .posts {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
  }
}

.loader_imgg {
  margin-left: 48%;
  margin-top: 0px !important;
}

@media screen and (max-width: 800px) {
  .post_sec {
    .posts {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 20px;
    }
  }
}
@media screen and (max-width: 576px) {
  .post_sec {
    .posts {
      display: grid;
      grid-template-columns: 90%;
    }
  }

  .loader_imgg {
    margin-left: 39%;
  }
}
