.navbar {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 10px;
  height: 80px;
  display: grid;
  grid-template-columns: 10% 80%;
  justify-content: space-between;
  align-items: center;
  background-color: #f6fcfd;
  z-index: 100;
  transition: all 0.2s ease;
  overflow-x: hidden;
}
.navbar .nav_brand {
  margin-top: 8px;
}
.navbar .nav_brand h5 {
  cursor: pointer;
  font-weight: bold;
  font-size: 23px;
}
.navbar .nav_right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar .nav_right .search {
  border: 2px solid gray;
  padding: 2px 4px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.navbar .nav_right .search input {
  border: none;
  outline: none;
}
.navbar .nav_right .search button {
  border: none;
  background: none;
}
.navbar .nav_right .search button .search_icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-top: -2px;
  color: gray;
}
.navbar .nav_right .nav_menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.3s ease;
  padding: 10px 7px;
}
.navbar .nav_right .nav_menu a:hover {
  font-weight: 500;
  color: rgba(251, 37, 119, 0.8784313725);
}
.navbar .nav_right .nav_reg {
  display: flex;
  width: 150px;
}
.navbar .nav_right .nav_reg .profilePic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
.navbar .nav_right .nav_reg button {
  background: none;
  border: 1px solid black;
  color: black;
  padding: 0px 12px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.4s ease;
}
.navbar .nav_right .nav_reg button:hover {
  background-color: black;
  color: white;
}
.navbar .nav_right .res_navbar {
  display: none;
}
.navbar .nav_right .res_navbar .res_nav_menu {
  position: absolute;
  top: 56px;
  right: -80px;
  background-color: white;
  width: 300px;
  padding: 20px 5px;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.navbar .nav_right .res_navbar .res_nav_menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.3s ease;
  padding: 5px 8px;
}
.navbar .nav_right .res_navbar .res_nav_menu a:hover {
  font-weight: 500;
  color: rgba(251, 37, 119, 0.8784313725);
}
.navbar .nav_right .res_navbar .res_nav_menu .res_nav_reg {
  display: none;
}
.navbar .nav_right .res_navbar .res_nav_menu .res_nav_reg button {
  background: none;
  border: 1px solid black;
  color: black;
  padding: 0px 12px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.4s ease;
  margin-top: 10px;
  margin-left: 10px;
}
.navbar .nav_right .res_navbar .res_nav_menu .res_nav_reg button:hover {
  background-color: black;
  color: white;
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    padding-right: 10px;
    padding-left: 20px;
  }
  .navbar .nav_right .nav_menu {
    display: none;
  }
  .navbar .nav_right .nav_reg {
    margin-left: auto;
    margin-right: 15px;
  }
  .navbar .nav_right .res_navbar {
    display: block;
    margin-right: 5%;
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  .navbar .nav_right .nav_reg {
    display: flex;
    width: 50px;
  }
  .navbar .nav_right .nav_reg button {
    display: none;
  }
  .navbar .nav_right .nav_reg .profilePic {
    height: 35px;
    width: 35px;
  }
  .navbar .nav_right .res_navbar .res_nav_menu {
    margin-right: -15px;
    text-align: center;
  }
  .navbar .nav_right .res_navbar .res_nav_menu .res_nav_reg {
    display: block;
  }
}/*# sourceMappingURL=navbar.css.map */