.main_home {
  width: 100%;
  overflow-x: hidden;

  .main_body {
    .home_content {
      display: grid;
      grid-template-columns: 65% 33%;
      grid-gap: 25px;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 992px) {
  .main_home {
    .main_body {
      .home_content {
        display: grid;
        grid-template-columns: 100%;
        .right {
          display: none;
        }
      }
    }
  }
}
