.settings {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: center;
  margin-top: 110px;

  .seeting_left {
    margin-bottom: 50px;
    .seetingUpDel {
      display: flex;
      justify-content: space-between;

      .seetingUp {
        font-size: 25px;
        font-weight: 700;
        color: rgb(155, 151, 151);
      }

      .seetingDel {
        color: rgb(247, 63, 63);
        cursor: pointer;
        font-weight: 500;
        margin-right: 8%;
        margin-top: 6px;
        font-size: 18px;
        transition: all 0.2s ease;
      }
      .seetingDel:hover {
        color: red;
        cursor: pointer;
        transform: scale(1.07);
      }
    }

    .seeting_form {
      width: 60%;

      .error {
        width: 80%;
      }

      .seeting_pp {
        margin-top: 50px;
        margin-bottom: 20px;
        position: relative;
        .imgWrites {
          img {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .userProPic {
          width: 200px;
          height: 250px;
          object-fit: cover;
        }

        .upPP {
          position: absolute;
          top: 220px;
          left: 105px;
          margin-bottom: 15px;
          cursor: pointer;
          padding: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgba(117, 116, 116, 0.719);
          border-radius: 50%;
        }
      }

      .submit_btn {
        margin-top: 10px;
        margin-left: 60%;
        background-color: #88bef5;
        border: none;
        border-radius: 5px;
        height: 40px;
        width: 125px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
      }

      .submit_btn:hover {
        background-color: #35bdd8;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .settings {
    display: grid;
    grid-template-columns: 100%;

    .seeting_left {
      .seetingUpDel {
        display: grid;
        grid-template-columns: auto;
      }

      .seeting_form {
        width: 90%;

        // .error {
        //   // width: 80%;
        // }
        .inputss {
          width: 80%;
        }

        .submit_btn {
          margin-left: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .settings {
    .seeting_left {
      .seeting_form {
        width: 100%;

        .error {
          width: 100%;
        }

        .submit_btn {
          margin-left: 50%;
        }
      }
    }
  }
}
